@model IEnumerable<FrontEnd.Models.CarritoViewModel>

@{
    ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Internal_Layout.cshtml";
}

<h1>Carrito</h1>
<div class="container">

<table id="tbCarro" class="table table-hover">
<div class="row">
  <div class="col-md-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th></th>
        </tr>
    </thead>
        </div>
</div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td id="id_prod">
                @Html.DisplayFor(modelItem => item.IdProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                ₡ @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                ₡ @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                    <div class="form-group" style="text-align: center;">
                        @Html.ActionLink("Eliminar", "EliminarProductoCarrito" , new { IdProd = item.IdProd},
                    new { @class = "form-control", @style = "text-align:center;width:100px;height:35px;background-color:red;color:white" })
                    </div>
             </td>
        </tr>
}
    </tbody>
</table>

 <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
<tr>
            <td class="table-hover">
        @Html.ActionLink("Vaciar Carrito", "VaciarCarrito", new { }, new
        { @class = "form-control", @style = "text-align:center;width:auto; height:35px;background-color:red;color:white" })
    </td>
            <td class ="table-hover">
        @Html.ActionLink("Confirmar Compra", "ConfirmarCompra", "RegistroCompra" , new { }, new
        {
        @class = "form-control",
        @style = "text-align:center;width:auto; height:35px;background-color:green;color:white"
        ,
        onclick = "return validar();"
        })e
    </td>
</tr>
    </tbody>
</table>

@section Scripts
{
        <script src="~/Funciones/Carrito.js"></script>
        <script src="~/Funciones/Generales.js"></script>
}