@model FrontEnd.Models.InventarioServiciosViewModel

@{
    ViewData["Title"] = "Details";
        Layout = "~/Views/Shared/_Internal_Layout.cshtml";

}

<h1>Detalles</h1>


@*<head>      
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>*@

<div>
@*    <h4>Detalles Producto</h4>
*@    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>
        <dd>
            <img src= model.UrlImage/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicio.NombreServicio)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProducto }) |
    <a asp-action="Index">Regresar</a>
</div>
