@model IEnumerable<FrontEnd.Models.InventarioServiciosViewModel>

@{
    ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Internal_Layout.cshtml";

}

<h1>Ver Inventario</h1>

@*table-bordered


*@
<div class="container">

<table class="table table-hover">

         <div class="row">
  <div class="col-md-4">
        <form asp-action="AddCarrito">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
      
            <div class="form-group">
                <label asp-for="@Model.FirstOrDefault().Cantidad" class="control-label"></label>
                <input asp-for="@Model.FirstOrDefault().Cantidad" class="form-control" />
                <span asp-validation-for="@Model.FirstOrDefault().Cantidad" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                        <label asp-for="@Model.FirstOrDefault().Productos" class="control-label"></label>
                        @Html.DropDownListFor(model => model.FirstOrDefault().Id, new SelectList(Model.FirstOrDefault().Productos, "IdProducto", "Descripcion"), "--Seleccione--")
                <span asp-validation-for="@Model.FirstOrDefault().Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar al Carrito" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdProducto)</th>
            <th>  @Html.DisplayNameFor(model => model.Descripcion)</th>
            <th> @Html.DisplayNameFor(model => model.Precio)</th>
            <th>@Html.DisplayNameFor(model => model.CantidadDisponible)</th>
            @*<th>url</th>*@
            <th>  @Html.DisplayNameFor(model => model.Servicio.NombreServicio)</th>
             <th>  Acciones </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.IdProducto) </td>
                <td> @Html.DisplayFor(modelItem => item.Descripcion) </td>
                <td> ₡ @Html.DisplayFor(modelItem => item.Precio) </td>
                <td> @Html.DisplayFor(modelItem => item.CantidadDisponible) </td>
                @*<td> <div class="form-group" style="text-align: center; readonly">@item.URL_IMAGE </div></td>*@
                <td> @Html.DisplayFor(modelItem => item.Servicio.NombreServicio) </td>
                <td>
                    
                      <div class="form-group form-inline" style="text-align: center;">
                     
                       @Html.ActionLink("Editar", "Edit", new { id=item.IdProducto })  |
                       @Html.ActionLink("Borrar", "Delete", new {id=item.IdProducto }) |
                       @Html.ActionLink("Detalles", "Details", new {id=item.IdProducto })
                  
                        </div>
                </td>
            </tr>
        }

    </tbody>




</table>
<br />
<br />
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*
  @foreach (var item in Model)
        {

            <table class="table table-bordered table-hover">
         <thead>
            <tr>
                <th>ID</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 

                </td>
                       
                 <td> 
                 </td>
                <td>
                    <div class="form-group" style="text-align: center;">
                        <input style="background-color:black;color:white" type="submit" value="Añadir al Carrito" class="text-center btn2 float-center login_btn">
                    </div>
                </td>
            </tr>
           
        </tbody>
    </table>*@



   
    