@model IEnumerable<FrontEnd.Models.InventarioServiciosViewModel>

@{
    ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Internal_Layout.cshtml";

}

<h1>Ver Inventario</h1>

<head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <link rel="stylesheet" type="text/css" href="/Content/font-awesome/css/font-awesome.min.css" />
     <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>

</head>
@*table-bordered


*@
<div class="container">
 <button id="exportButton" class="btn btn-lg btn-danger clearfix"><span class="fa fa-file-pdf-o"></span> Export to PDF</button>
<table class="table table-hover">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdProducto)</th>
            <th>  @Html.DisplayNameFor(model => model.Descripcion)</th>
            <th> @Html.DisplayNameFor(model => model.Precio)</th>
            <th>@Html.DisplayNameFor(model => model.CantidadDisponible)</th>
            @*<th>url</th>*@
            <th>  @Html.DisplayNameFor(model => model.IdServicio)</th>
             <th>  @Html.DisplayNameFor(model => model.IdServicio)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.IdProducto) </td>
                <td> @Html.DisplayFor(modelItem => item.Descripcion) </td>
                <td> ₡ @Html.DisplayFor(modelItem => item.Precio) </td>
                <td> @Html.DisplayFor(modelItem => item.CantidadDisponible) </td>
                @*<td> <div class="form-group" style="text-align: center; readonly">@item.URL_IMAGE </div></td>*@
                <td> @Html.DisplayFor(modelItem => item.Servicio.NombreServicio) </td>
                <td>
                    
                      <div class="form-group form-inline" style="text-align: center;">
                     
                       @Html.ActionLink("Editar", "Edit", new { id=item.IdProducto })  |
                       @Html.ActionLink("Borrar", "Delete", new {id=item.IdProducto })

                        </div>
                </td>
            </tr>
        }

    </tbody>
</table>
<br />
<br />
<br />
 

        

 
    <table class="table table-bordered table-hover">
         <thead>
            <tr>
                <th>ID</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> </td>
               
                 <td> 
                 </td>
                <td>
                    <div class="form-group" style="text-align: center;">
                        <input style="background-color:black;color:white" type="submit" value="Añadir al Carrito" class="text-center btn2 float-center login_btn">
                    </div>
                </td>
            </tr>
           
        </tbody>
    </table>

   
