@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Internal_Layout.cshtml";

}
@*<head>      
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>*@

 <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> Bienvenido </h3>
        <hr class="bg-dark mb-4 w-125">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img width="350" height="250" class="card-img-top" src="https://vectorified.com/images/inventory-icon-9.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Inventario</h4>
                        <input type="button" class="btn btn-primary" value="Llevame al inventario" onclick="@("window.location.href='" + @Url.Action("ConsultarInventario", "Inventario") + "'");" />

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img width="350" height="250" class="card-img-top" src="https://vectorified.com/images/cart-icon-png-1.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Carrito</h4>
                        <input type="button" class="btn btn-primary" value="Ver carrito" onclick="@("window.location.href='" + @Url.Action("ConsultarCarrito", "Carrito") + "'");" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img width="350" height="250" class="card-img-top" src="https://www.pngitem.com/pimgs/m/164-1649963_oregon-state-gears-icon-settings-icon-white-background.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Mi perfil</h4>
                        <input type="button" class="btn btn-primary" value="Ver perfil" onclick="@("window.location.href='" + @Url.Action("VerPerfil", "Empleado") + "'");" />
                    </div>
                </div>
            </div>
        </div>
    </div>

               <div class="container-fluid">
         
                <footer class="footer bg-dark text-white">

                    <!-- Social Icons -->
                    <div class="bg-primary">
                        <div class="container">
                            <div class="row py-4">
                                <div class="col-md-6 col-lg-7">
                                    <h4 class="mb-0 white-text">Gracias por chinear su nave con nosotros!</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Social Icons -->
                    <!-- Footer Links -->
                    <div class="container pt-5 pb-2">
                        <div class="row">

                            <div class="col-md-3 col-lg-4 col-xl-3">
                                <h4>AutoLavado</h4>
                                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                                <p>
                                    Los establecimientos comerciales para el lavado de automóviles son espacios dedicados a la limpieza de automóviles, ya sea como un servicio brindado por empleados del lugar o bien por los propios usuarios, operando los equipos ellos mismos y con arranque de los medios de lavado por prepago ya sea mediante monedero, ficha o tarjeta.
                                </p>
                            </div>
                

                            <div class="col-md-4 col-lg-3 col-xl-3">
                                <h4>Contact</h4>
                                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                                <p><i class="fa fa-home mr-3"></i> Ubicacion</p>
                                <p><i class="fa fa-envelope mr-3"></i> proyecto@fidelitas.com</p>
                                <p><i class="fa fa-phone mr-3"></i> 8953 3267</p>
                                <p><i class="fa fa-print mr-3"></i> 6789 1245</p>
                            </div>

                        </div>
                    </div>
                    <!-- Footer Links-->

                    <hr class="bg-white mx-4 mt-2 mb-1">

                    <!-- Copyright-->
                    <div class="mb-2 text-center">
                        <small>
                            <a>
                            © 2022 Proyecto Programacion Avanzada Web
                            </a>
                        </small>
                    </div>
                    <div class="text-center">
                        <a href="https://twitter.com/home" target="_blank" class="twitter-follow-button" data-show-count="false">
                            <img alt="Twitter Follow" src="https://img.shields.io/twitter/url?label=Twitter&style=social&url=https%3A%2F%2Ftwitter.com%2Fintent%2Ffollow%3Fscreen_name%3Dlalinde_carlos" />
                        </a>
                    </div>
                    <br>
                    <!-- Copyright -->

                </footer>

            </div>




@*TO DO LIST:
    1-Login  - Manuel 
---Contraseñas encriptadas y validacion de requerido - DONE
2-Olvidar Contraseñas  - Manuel DONE

3-Sesiones - Carlos
---layout sessions para roles
4-inventario (que muestre en vez de IDservicio el nombre) - DONE
---(ver inventario) opcion añadir carrito 
---(Crear Producto) muestre el dropdown con el tipo de servicio, poner imagen a la derecha o centrarlo
---(registro inventario) muestre en vez de IDservicio el nombre
---(registro inventario) - reportes PDF,csv, barra de busqueda(esto tmbn en todas las tablas)
5-Carrito - Carlos
---(Ver Carrito) arreglar la vista, eliminar individual, funcion vaciar carrito(que no pase si esta vacio), confirmar compra (que no pase si esta vacio)
---(Confirmar Compra) - Hacer Vista , metodos de pago tipo dropdown, en ID empleado poner lista de nombres de empleados que lo atendio, validaciones
---(Registro Compras) - Hacer Vista

6-Clientes atendidos - Luis  
---Revisar la hora que sale en la fecha , * se debe cambiar el tipo de dato en la BD de DATE a DATETIME * 
7-Empleados - Luis
---(Editar) ---crear vista CASI LISTO
---(eliminar) --- Crear vista DONE



8-Configuracion  - Manuel
---(Ver Perfil) --- DONE
---(Cambiar Contraseña) --- DONE



General
---limitar sesiones usuario (session timeout) - Carlos
---Cambiar las cosas de ingles a español y errores ortograficos - TODOS
---API KEY --- LUIS  DONE *@