@{
    ViewData["Title"] = "Home Page";
}

 <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> Bienvenido </h3>
        <hr class="bg-dark mb-4 w-125">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img width="350" height="250" class="card-img-top" src="https://vectorified.com/images/inventory-icon-9.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Inventario</h4>
                        <input type="button" class="btn btn-primary" value="Llevame al inventario" onclick="@("window.location.href='" + @Url.Action("ConsultarInventario", "Inventario") + "'");" />

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img width="350" height="250" class="card-img-top" src="https://vectorified.com/images/cart-icon-png-1.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Carrito</h4>
                        <input type="button" class="btn btn-primary" value="Ver carrito" onclick="@("window.location.href='" + @Url.Action("ConsultarCarrito", "Carrito") + "'");" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img width="350" height="250" class="card-img-top" src="https://www.pngitem.com/pimgs/m/164-1649963_oregon-state-gears-icon-settings-icon-white-background.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Mi perfil</h4>
                        <input type="button" class="btn btn-primary" value="Ver perfil" onclick="@("window.location.href='" + @Url.Action("VerPerfil", "Empleado") + "'");" />
                    </div>
                </div>
            </div>
        </div>
    </div>

