@model IEnumerable<FrontEnd.Models.EmpleadoViewModel>

@{
    ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Internal_Layout.cshtml";
}

<h1>Todos los empleados</h1>

<head>

</head>

<table id="tbEmpleado" class="table table-hover">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdEmpleado)</th>
            <th>  @Html.DisplayNameFor(model => model.Nombre)</th>
            <th> @Html.DisplayNameFor(model => model.Apellido1)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido2)</th>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
@*            <th>  @Html.DisplayNameFor(model => model.Passhash)</th>
*@            <th>  @Html.DisplayNameFor(model => model.FechaIngreso)</th>
            <th>  @Html.DisplayNameFor(model => model.Correo)</th>
            <th>  @Html.DisplayNameFor(model => model.IdRol)</th>
            <th>  @Html.DisplayNameFor(model => model.IdRol)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> <div class="form-group" style="text-align: center; readonly">          @Html.DisplayFor(modelItem => item.IdEmpleado) </div></td>
                <td> <div class="form-group" style="text-align: center; readonly">      @Html.DisplayFor(modelItem => item.Nombre) </div></td>
                <td> <div class="form-group" style="text-align: center; readonly">  @Html.DisplayFor(modelItem => item.Apellido1)</div></td>
                <td> <div class="form-group" style="text-align: center; readonly">    @Html.DisplayFor(modelItem => item.Apellido2)</div></td>
                <td> <div class="form-group" style="text-align: center; readonly">   @Html.DisplayFor(modelItem => item.Username) </div></td>
@*                <td> <div class="form-group" style="text-align: center; readonly">    @Html.DisplayFor(modelItem => item.Passhash) </div></td>
*@                <td> <div class="form-group" style="text-align: center; readonly">    @Html.DisplayFor(modelItem => item.FechaIngreso) </div></td>
                <td> <div class="form-group" style="text-align: center; readonly">    @Html.DisplayFor(modelItem => item.Correo) </div></td>
                <td> <div class="form-group" style="text-align: center; readonly">    @Html.DisplayFor(modelItem => item.IdRol) </div></td>
                <td>
                    
                      <div class="form-group form-inline" style="text-align: center;">

                        @Html.ActionLink("Editar", "Edit", new { id=item.IdEmpleado })  |
                        @Html.ActionLink("Eliminar", "Delete", new {id=item.IdEmpleado })

                        </div>
                </td>
            </tr>
        }

    </tbody>
</table>


<div class="form-group" style="text-align: center;">
<a href="@Url.Action("Create", "EmpleadoNuevo")" style="background-color:black;color:white" class="btn btn-primary" >Registrar Nuevo Empleado<a/>
</div>
